<ion-content>

	<div class="logindiv">
		<ion-card>

			<form #loginForm="ngForm">
				<ion-grid>
					<ion-row class="ion-justify-content">
						<ion-col size="12" class="ion-text-center">
							<ion-input [(ngModel)]="username" required name="username" type="text" placeholder="E-mail">
							</ion-input>
						</ion-col>
						<ion-col size="12" class="ion-text-center">
							<ion-input [(ngModel)]="password" required name="password" type="password"
								placeholder="Password"></ion-input>
						</ion-col>
						<ion-col class="ion-text-center">
							<ion-button type="submit" class="ion-text-center" [disabled]="!loginForm.valid"
								(click)="checkLogin()">
								LOGIN
							</ion-button>
						</ion-col>
					</ion-row>
				</ion-grid>
			</form>
		</ion-card>
	</div>

</ion-content>