<app-tabs-header pageTitle="Home"></app-tabs-header>


<ion-content [fullscreen]="true">

	<ion-searchbar (ionChange)="search($event)"></ion-searchbar>

	<ion-list>
		<ion-item *ngFor="let match of allMatchs">
			<ion-col size="12">
				<ion-card (click)="gotoMatchDetails(match)">
					<ion-card-header>
						<p>
							<ion-card-title>
								<ion-icon size="big" name="basketball"></ion-icon> {{match.name}}
							</ion-card-title>
						</p>
						<p><strong>{{match.date | date: "dd/MM/yyyy"}}</strong></p>
						<p><strong>{{match.date | date: "HH:mm"}}</strong></p>
					</ion-card-header>
				</ion-card>
			</ion-col>
		</ion-item>
	</ion-list>

</ion-content>